body {
  // background: #ece9e9 linear-gradient(top, #fff, #ece9e9);
  #app {
    height: 100%;
  }
}

.clearfix {
  &::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
  }
}

.ellipsis {
  overflow: hidden;
  word-wrap: nowrap;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.hidden {
  display: none;
}

.outOfViewport {
  position: fixed;
  left: -100%;
  max-width: 100%;
}
